@import 'colors';

.wrapper {
  max-width: 500px;
  margin: 200px auto 0 auto;

  .logo {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
  }
}

.input__wrapper {
  text-align: center;

  .input_container {
    margin-top: 15px;
    margin-bottom: 25px;
  }

  span {
    font-size: 16px;
  }
}
