@import 'colors';
@import 'mixins';

.x {
  font-size: 80px;
  font-family: 'Permanent Marker', cursive !important;
  color: $yellow;
  cursor: default;
  user-select: none;
  transition: color 150ms ease-in-out;

  &.disabled {
    color: rgba(255, 255, 255, 0.4);
  }

  &.win {
    color: $green;
  }

  @include respond-to('sm') {
    font-size: 60px;
  }
}
