@import "colors";

.container {
  width: max-content;
  display: grid;
  grid-template-rows: repeat(3, 150px);
  grid-template-columns: repeat(3, 150px);
  grid-gap: 4px;
  background-color: rgba(255, 255, 255, 0.2);

  .pos {
    background-color: $dark;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 150ms ease-in-out;

    &:hover:not(.pos__disabled) {
      background-color: rgba(45, 64, 89, 0.7);
      cursor: pointer;
    }
  }

  .pos__disabled {
    cursor: not-allowed;
  }
}
